{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row gy-4 justify-content-center">
      {{range where site.RegularPages "Section" .Params.section}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read more"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
  </div>
</section>

{{end}}