{{define "main"}}

<section class="section pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="case-study col-lg-8 col-md-10">
        {{ partial "image" (dict "Src" .Params.image "Alt" "" "Class" "rounded-2 mb-4") }}

        <h1 class="h1 text-primary mb-2">{{.Title | markdownify}}</h1>
        <p>Industry: {{.Params.industry | markdownify}}</p>
        <div class="content pt-3">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<section class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 text-center">
        <h2 class="h3">Related case studies</h2>
      </div>
    </div>
    <ul class="row justify-content-center">
      {{ range . }}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read case study"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
          "cardMarkup" "li"
        }}
        {{ partial "card" $card }}
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}

<!-- call to action -->
{{with site.GetPage "case-studies"}}
{{ if .Params.call_to_action.enable }}
{{ with .Params.call_to_action }}
<section class="section bg-light-blue">
  {{ partial "cta" . }}
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /call to action -->

{{end}}