/* Button style */
.btn {
  font-size: 1em;
  font-family: $font-primary;
  font-weight: 500;
  padding: 1.1em 2.2em;
  line-height: 1;
  border-radius: 50px;
  border: 2px solid;
  transition: 0.3s ease;

  &-sm {
    padding: 0.9em 1.6em;
    font-size: 1em;
  }

  &:hover,
  &:focus,
  &.focus {
    outline: 0;
    // @extend .shadow;
    background: $link-color !important;
    border-color: $link-color !important;
    // transform: translateY(-1px);
    transform: scale3d(1.005,1.005,1.005);
    box-shadow: 0px 8px 15px rgba(0,160,163,.50) !important;
  }

  &:active,
  &.active {
    outline: 0;
    background: $color-primary !important;
    border-color: $color-primary !important;
    transform: translateY(0px);
    box-shadow: 0px 5px 7px rgba(0,160,163,.50) !important;
  }
}

.btn-primary {
  background: $color-primary;
  color: $white;
  border-color: $color-primary;
}

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;
}

.btn-secondary {
  background: $color-secondary;
  color: $white;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: darken($color-secondary, 5) !important;
    border-color: darken($color-secondary, 5) !important;
  }
}

.btn-outline-secondary {
  color: $color-secondary;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-secondary !important;
    border-color: $color-secondary !important;
  }
}

.btn-link {
  color: $color-primary;
  text-decoration: none;

  i,
  svg {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 1px;
    transition: 0.2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $link-color;

    i,
    svg {
      margin-left: 15px;
    }
  }
}
