/* Button style */
.btn {
  font-size: 1em;
  font-family: $font-primary;
  font-weight: 500;
  padding: 1.1em 2.2em;
  line-height: 1;
  border-radius: 50px;
  border: 2px solid;
  transition: 0.3s ease;

  @include desktop {
    font-size: 0.95em;
  }

  @include tablet {
    font-size: 0.9em;
  }

  &-sm {
    padding: 0.9em 1.6em;
    font-size: 0.9em;
  }

  &:hover {
    transform: scale3d(1.005,1.005,1.005);
    box-shadow: 0px 8px 15px rgba($color-primary,.50) !important;
  }
  
  &:hover,
  &:focus,
  &.focus {
    color: #fff;
    // @extend .shadow;
    background: $color-primary-darker !important;
    border-color: $color-primary-darker !important;
    // transform: translateY(-1px);
  }

  &:focus, 
  &:focus-visible {
    outline: 2px solid $color-primary-darker;
    outline-offset: 2px;
    border-radius: 50px;
    box-shadow: unset;
  }

  &:active,
  &.active {
    outline: 0;
    color: #fff;
    background: $color-primary-darker !important;
    border-color: $color-primary-darker !important;
    transform: translateY(0px);
    box-shadow: 0px 5px 7px rgba(0,160,163,.50) !important;
  }
  
  &:visited {
    color: #fff;
  }
}

.btn-primary {
  background: $color-primary;
  color: $white;
  border-color: $color-primary;
  cursor: pointer;
}

.btn-outline-primary,
.btn-outline-primary:visited {
  color: $color-primary;
  border-color: $color-primary;
  &:hover,
  &:focus,
  &.focus {
    background: $color-primary !important;
    border-color: $color-primary !important;
  }

  &:active,
  &.active {
    background: $link-color !important;
    border-color: $link-color !important;
  }
}

.btn-secondary {
  background: $color-secondary;
  color: $white;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: darken($color-secondary, 5) !important;
    border-color: darken($color-secondary, 5) !important;
  }
}

.btn-outline-secondary {
  color: $color-secondary;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-secondary !important;
    border-color: $color-secondary !important;
  }
}

.btn-link {
  color: $link-color;
  text-decoration: none;

  i,
  svg {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 1px;
    transition: 0.2s ease;
  }
  
  &:visited {
    color: $color-primary-darker;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $link-hover-color;

    i,
    svg {
      margin-left: 15px;
    }
  }
}
