html {
  font-size: $font-size;
  @include desktop {
    font-size: calc(#{$font-size} * 0.95);
  }

  @include tablet {
    font-size: calc(#{$font-size} * 0.9);
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.75;
  color: $text-color;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: $font-secondary;
  font-weight: 700;
  color: $text-dark;
}

h4,
h5,
h6 {
  color: $text-dark;
}

small,
.small {
  font-size: 0.8rem;
}

subtitle {
  display: block;
}

footer {
  &,
  .footer-nav a {
    color: $text-dark;
  }
  .footer-nav a:hover {
    color: #006365;
  }
}


.card-heading {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1; // todo: test all places
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2, 1;

 

  .h1, .h2, .h3, .h4, .h5, .h6, 
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 0.65em;
    color: #505050;
  }

  h1, .h1 {
    font-size: 26px;
    @media screen and (min-width: 768px) {
      font-size: 30px;      
    }
    @media screen and (min-width: 992px) {
      font-size: 46px;
    }
  }

  h2, .h2 {
    font-size: 24px;
    @media screen and (min-width: 768px) {
      font-size: 28px;      
    }
    @media screen and (min-width: 992px) {
      font-size: 36px;
    }
  }
  
  h3, .h3 { 
    font-size: 22px;
    @media screen and (min-width: 768px) {
      font-size: 24px;      
    }
    @media screen and (min-width: 992px) {
      font-size: 24px;
    }
  }

  h4, .h4 {
    font-size: 20px;
  }

  h6, .h6 {
    font-size: 20px;
  }

  b, strong {
    font-weight: 700;
  }

  .numbers-text {
    font-size: 48px;
    line-height: 1.5;
    * {
      font-size: inherit;
    }
  }

 

// typo for dark mode
body.dark {
  color: $dark-text-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-text-dark;
  }
}
