$alas-color-yellow: #FFB81F;
$alas-color-orange: #FF8602;
$alas-color-blue: #00A0A3;

.navigation {
  min-height: 85px;

  .nav-item {
    .nav-link:hover,
    &.active .nav-link {
      color: $link-color !important;
    }
  }
}


.banner {
  aspect-ratio: 16 / 9;
  background-size: contain !important;
}

.numbers-icon img {
  max-height: 100px;
}

.service-card {
  .btn-link {
    margin-left: 0 !important;
    font-size: 20px;
  }
}

.service-image img {
  height: 255px;
  padding: 40px 0 15px;
}

.what-we-do-img img {
  max-height: 420px;
}

.contact-img {
  border-bottom: 10px solid;
}

.contact {
  .nav-tabs {
    border: 0;
    padding: 0;
  }
  .nav-item {
    border: 0;
    border-radius: 0;
    border-top: 5px solid;
  }
  .tab-content {
    border: 0;
  }
  .nav-link {
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
  }
  .services {
    background-color: $alas-color-yellow;
    border-color: $alas-color-yellow;
    .active {
      color: $alas-color-yellow;
      background-color: #fff;
    }
  }
  .jobs {
    background-color: $alas-color-orange;
    border-color: $alas-color-orange;
    .active {
      color: $alas-color-orange;
      background-color: #fff;
    }
  }
  .partnerships {
    background-color: $alas-color-blue;
    border-color: $alas-color-blue;
    .active {
      color: $alas-color-blue;
      background-color: #fff;
    }
  }
}

#services-tab-pane {
  .contact-img {
    border-color: $alas-color-yellow;
  }
}
#jobs-tab-pane {
  .contact-img {
    border-color: $alas-color-orange;
  }
}
#partnerships-tab-pane {
  .contact-img {
    border-color: $alas-color-blue;
  }
}