$alas-color-yellow: #FFB81F;
$alas-color-orange: #FF8602;
$alas-color-blue: #00A0A3;

.navigation {
  min-height: 85px;

  .nav-item {
    .nav-link:hover,
    &.active .nav-link {
      color: $link-color !important;
    }
  }
}

@media (min-width: 1200px) {
  .contact-header-btn {
    margin-left: 12px;
  }
}

.hero-text {
  font-size: 42px;
}

.subtitle {
  font-size: 24px !important;
}
.hero {
  background: #e1fdff;
}
.hero-container {
  margin-bottom: -20vw;
  padding-top: 8vw !important;
  // background: rgba(255,255,255,.5);
  position: relative;
  z-index: 2;
}

.banner {
  aspect-ratio: 16 / 9;
  background-size: contain !important;
  background-color: #dffcff;
  padding: 7vw 0 0;
  opacity: .75;
  z-index: 1;
}

.numbers-icon img {
  max-height: 60px;
}

.btn-link {
  margin-left: 0 !important;
  font-size: 20px;
  i,
  svg {
    font-size: 18px;
  }
}

.card {
  width: 100%;
  &.is-hoverable {
    &:hover {
      img {
        transition: 0.2s ease;
        transform: scale3d(1.02,1.02,1.02);
      }
    }
  }
  .card-header {
    overflow: hidden;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .illustration-image img {
    padding: 1.5rem;
  }
  ul {
    padding-left: 0;
    margin-bottom: 1.2rem;
    list-style-type: none;

    li {
      padding-left: 1.2rem;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $color-primary;
        left: 3px;
        top: 14px;
      }
    }
  }
}

.services-cards {
  .card .illustration-image img {
    height: 400px;
  }
}

.accordion-button.collapsed {
  &:hover {
    background-color: $bg-light-blue;
  }
}

.technology-name {
  color: rgba($black, .6);
  font-size: 14px;
  padding-top: 10px;
}
.technology-logo {
  img {
    height: 50px;
    max-width: 100px;
  }
}

.approach-text {
  padding-left: 20px;

  p {
    font-size: 16px;
  }
}
.process-text {
  p {
    font-size: 16px;
  }
}
.swiper-pagination-outer {
  position: relative;
  margin-top: 20px;
}

.designation {
  font-size: 16px;
  color: rgba($black, .5);
}

#what-we-do-hero {
  position: relative;
  background-color: #FFF3CC;
  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    display: block;
    background: #CEEFEB;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    z-index: 1;
  }
}

.contact-img {
  border-bottom: 10px solid;
}

.contact {
  .nav-tabs {
    border: 0;
    padding: 0;
  }
  .nav-item {
    border: 0;
    border-bottom: 1px solid rgba($black, .2);
    border-radius: 0;
  }
  .tab-content {
    border: 0;
  }
  .nav-link {
    border: 0;
    border-radius: 0;
    color: $text-dark;
    text-transform: uppercase;
    margin-bottom: -1px;
    &.active {
      border-bottom: 5px solid;
    }
  }
  .services {
    .nav-link:hover {
      background-color: rgba($alas-color-yellow, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-yellow, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-yellow;
    }
  }
  .jobs {
    .nav-link:hover {
      background-color: rgba($alas-color-blue, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-blue, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-blue;
    }
  }
  .partnerships {
    .nav-link:hover {
      background-color: rgba($alas-color-orange, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-orange, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-orange;
    }
  }
}

#services-tab-pane {
  .contact-img {
    border-color: $alas-color-yellow;
  }
}
#jobs-tab-pane {
  .contact-img {
    border-color: $alas-color-blue;
  }
}
#partnerships-tab-pane {
  .contact-img {
    border-color: $alas-color-orange;
  }
}

.article,
.case-study {
  h1,
  h2 {
    font-weight: 400;
    font-family: $font-primary;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
    font-weight: 400;
    font-family: $font-primary;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 28px;
  }
}

.process-step {
  background: #FFF;
}

.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}

.benefit-icon {
  width: 40%;
}
