$alas-color-yellow: #FFB81F;
$alas-color-orange: #FF8602;
$alas-color-blue: #00A0A3;

video {
  max-inline-size: inherit;
  max-inline-size: -moz-available;
  max-inline-size: -webkit-fill-available;
}
.navigation {
  min-height: 91px;

  .nav-item {
    .nav-link:hover,
    &.active .nav-link {
      color: $link-color !important;
    }
  }
}

@media (min-width: 1200px) {
  .contact-header-btn {
    margin-left: 12px;
  }
}
.slide-text-container {
  display: inline-block;
  height: 3rem;
}
.slide-text {
  display: inline-block;
  font-size: 2rem;
  margin-right: 5px;
}

.subtitle {
  font-size: 24px !important;

  @include desktop {
    font-size: calc(24px * 0.95) !important;
  }

  @include tablet {
    font-size: calc(24px * 0.9) !important;
  }
}
.hero {
  background: #e1fdff;
}
.hero-container {
  .container .row {
    padding-top: 20vh !important;
    padding-bottom: 10vh;
    margin-top: -10vh;
  }
}

.banner {
  aspect-ratio: 16 / 9;
  background-size: contain !important;
  background-color: #dffcff;
  padding: 7vw 0 0;
  z-index: 1;
  margin-top: -20vw;
}

.hero-bg {
  width: 100%;
  height: calc(100vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  position: relative;
  z-index: 100;
  font-size: 2rem;

  @include desktop {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1.4rem;
  }
}

.backdrop-dark {
  &::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: rgba(0,40,41,.5);
    background: linear-gradient(0deg, rgba(0,40,41,.5) 0%, rgba(0,40,41,.7) 100%);
    z-index: 1;
  }
}

.numbers-icon img {
  max-height: 60px;
}

.btn-link {
  margin-left: 0 !important;
  font-size: 20px;
  i,
  svg {
    font-size: 18px;
  }
}

.card {
  width: 100%;
  &.is-hoverable {
    &:hover {
      img {
        transition: 0.2s ease;
        transform: scale3d(1.04,1.04,1.04);
      }
    }
  }
  .card-header {
    overflow: hidden;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .illustration-image img {
    padding: 1.5rem;
  }
  ul {
    padding-left: 0;
    margin-bottom: 1.2rem;
    list-style-type: none;

    li {
      padding-left: 1.2rem;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $color-primary;
        left: 3px;
        top: 14px;
      }
    }
  }
}

.accordion-button.collapsed {
  &:hover {
    background-color: $bg-light-blue;
  }
}

.technology-name {
  color: rgba($black, .6);
  font-size: 14px;
  padding-top: 10px;
}
.technology-logo {
  img {
    height: 50px;
    max-width: 100px;
  }
}

.approach-text {
  padding-left: 20px;

  .p {
    font-size: 16px;
  }
}
.process-text {
  .h6 {
    color: $alas-color-blue;
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
}
.swiper-pagination-outer {
  position: relative;
  margin-top: 20px;
}

.designation {
  font-size: 16px;
  color: rgba($black, .5);
}

#what-we-do-hero {
  position: relative;
  background-color: #FFF3CC;
  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    display: block;
    background: #CEEFEB;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
    z-index: 1;
  }
}

.what-we-do-img {
  max-width: 80%;
  margin: 0 auto;
}

#values-list .accordion-header {
  font-family: $font-primary;
}

.contact-img {
  border-bottom: 5px solid;
}

.contact {
  .shadow {
    box-shadow: 0 1px 0 rgba(0,0,0,.02), 0 2px 6px rgba(0,0,0,.05), 0 10px 20px rgba(0,0,0,.05) !important;
  }
  .nav-tabs {
    border: 0;
    padding: 0;
  }
  .nav-item {
    border: 0;
    border-bottom: 1px solid rgba($black, .2);
    border-radius: 0;
  }
  .tab-content {
    border: 0;
  }
  .nav-link {
    border: 0;
    border-radius: 0;
    color: $text-dark;
    text-transform: uppercase;
    margin-bottom: -1px;
    &.active {
      border-bottom: 5px solid;
    }
  }
  .card-body {
    font-size: 16px;
  }
  .jobs {
    .nav-link:hover {
      background-color: rgba($alas-color-yellow, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-yellow, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-yellow;
    }
  }
  .partnerships {
    .nav-link:hover {
      background-color: rgba($alas-color-blue, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-blue, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-blue;
    }
  }
  .services {
    .nav-link:hover {
      background-color: rgba($alas-color-orange, .1);
    }
    .nav-link:active {
      background-color: rgba($alas-color-orange, .2);
    }
    .nav-link:hover,
    .active {
      border-color: $alas-color-orange;
    }
  }
}

.contact-person {
  font-size: 16px;
}

#partnerships-tab-pane {
  .contact-img {
    border-color: $alas-color-blue;
  }
}
#jobs-tab-pane {
  .contact-img {
    border-color: $alas-color-yellow;
  }
}
#services-tab-pane {
  .contact-img {
    border-color: $alas-color-orange;
  }
}

.article,
.case-study,
.job-content {
  h1,
  h2,
  h3 {
    font-weight: 400;
    font-family: $font-primary;
  }
  h1 {
    @include font-size(40px);
  }
  h2 {
    @include font-size(35px);
    font-weight: 400;
    font-family: $font-primary;
  }
  h3 {
    @include font-size(30px);
  }
  h4 {
    @include font-size(28px);
  }
}
.job-content {
  h2 {
    @include font-size(30px);
  }
  h3 {
    @include font-size(25px);
  }
  h4 {
    @include font-size(22px);
  }
}

.process-step {
  background: #FFF;
}

.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}

.benefit-icon {
  width: 40%;
}

.quotation-marks img {
  max-height: 25px;
  width: auto;
}