// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#007d80"}};
$color-primary-darker: {{.color_primary_darker | default "#006566"}};
$color-secondary: {{.color_secondary | default "#376f92"}};
$color-invalid: {{.color_invalid | default "#D72413"}};
$color-scrollbar: {{.color_scrollbar | default "#0AA8A7" }};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$link-color: {{.link_color | default "#009598"}};
$link-hover-color: {{.link_hover_color | default "#004D4F"}};
$link-active-color: {{.link_active_color | default "#008083"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$color-border-darker: {{.color_border_darker | default "#313131D9"}};
$dark-border-color: {{.dark_border_color | default "#ECECEC"}};
$dark-body-bg: {{.dark_body_color | default "#1e262c"}};
$dark-text-color: {{.dark_text_color | default "#cbcbcb"}};
$dark-text-dark: {{.dark_text_dark | default "#999"}};
$dark-text-light: {{.dark_text_light | default "#ddd"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$light: {{.light | default "#EDF6F5"}};
$dark: {{.dark | default "#1b2229"}};
$bg-orange: {{.bg_orange | default "#FF8602"}};
$bg-light-blue: {{.bg_light_blue | default "#E6FFFF"}};
$bg-light-yellow: {{.bg_light_yellow | default "#fff3e6"}};
$bg-light-gray: {{.bg_light_gray | default "#f4f4f4"}};
$bg-light-gray-2: {{.bg_light_gray_2 | default "#F5F4F6"}};

// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 6 Free"}}';
{{ end }}

@import 'templates/bootstrap';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'common-dark';

@import 'templates/navigation.scss';

@import 'templates/main.scss';

@import 'notice';

@import 'tabs';

@import 'image';

@import 'gallery';

@import 'toc';

@import 'custom.scss';

@import 'cookie-consent';