{{ define "main" }}
{{with .Params.hero}}
<section class="section bg-light-blue pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center pb-4 text-center text-lg-start">
        <div>
          <h1 class="h2"
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-easing="ease-in-out-sine">
            {{ .title | markdownify }}
          </h1>
          <div
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-delay="200"
            data-aos-easing="ease-in-out-sine">
            <p class="hero-text">{{.content | markdownify}}</p>
          </div>
          <div class="pt-4"
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-delay="400"
            data-aos-easing="ease-in-out-sine">
            {{ partial "button" .button }}
          </div>
        </div>
      </div>
      <div class="col-lg-6 overflow-hidden"
        data-aos="fade-left"
        data-aos-offset="0"
        data-aos-duration="600"
        data-aos-delay="600"
        data-aos-easing="ease-in-sine">
        {{ partial "image" (dict 
          "Src" .image_item.image
          "Alt" .image_item.alt
          "Class" "rounded-2") }}
        
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.culture}}
<section id="culture" class="section">
  <div class="container">
    {{ partial "content-block" .}}
    <div class="row"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-6 pb-4 pb-lg-0">
        {{ .content1 | markdownify }}
      </div>
      <div class="col-lg-6">
        {{ .content2 | markdownify }}
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.benefits}}
<section class="section bg-light-blue">
  <div class="container">
    {{ partial "content-block" .}}

    {{with .perks}}
    <div class="row justify-content-center pt-5"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-10 text-center">
        <h3 class="h3">{{.title | markdownify}}</h3>
      </div>
    </div>

    <ul class="row justify-content-center gy-4 mt-3"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-delay="300"
      data-aos-easing="ease-in-out-sine">
      {{range .perks_item}}
      <li class="col-xl-4 col-md-6 d-lg-flex"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="card bg-white rounded-2 border-0 h-100">
          <div class="card-header text-center bg-white rounded-2 border-0 p-0 mt-5">
            {{ partial "image" (dict "Src" .image "alt" "" "Class" "rounded-2 benefit-icon") }}
          </div>
          <div class="card-body pb-5 pt-0">
            <div class="h6 content p-3 pb-0">
              <ul aria-label="{{ .label }}">
                {{range .items}}
                <li>{{ . | markdownify }}</li>
                {{end}}
              </ul>

            </div>
          </div>
        </div>
      </li>
      {{end}}
    </ul>
    {{end}}
  </div>
</section>
{{end}}

{{ with .Params.process }}
<section class="section bg-light-gray">
  <div class="container">
    {{ partial "content-block" .}}
    <ol class="row gy-4 pt-5 process-text"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
    {{ range .process_item }}
      {{ $flatCard := dict
          "name" .name
          "content" .content
          "cardMarkup" "li"
      }}
      {{ partial "flat-card" $flatCard }}
    {{ end }}
    </ol>
  </div>
</section>
{{ end }}

{{ with .Params.onboarding }}
<section class="section">
  <div class="container">
    {{ partial "content-block" .}}
    <div class="row"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-md-6 pb-4 pb-md-0">
        {{ .content1 | markdownify }}
      </div>
      <div class="col-md-6">
        {{ .content2 | markdownify }}
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.jobs }}
<section class="section bg-light-blue" id="jobs">
  <div class="container">
    {{ partial "content-block" .}}
    <ul class="row gy-4"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-delay="300"
      data-aos-easing="ease-in-out-sine">
      {{range where site.RegularPages "Section" .section}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Details"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.logo
          "name" .Title
          "button" $button
          "cardMarkup" "li"
        }}
        {{ partial "card" $card }}
      {{end}}
    </ul>
  </div>
</section>
{{ end }}


{{ end }}
