{{ define "main" }}

{{with .Params.hero}}
<section class="section">
  <div class="container">
    <div class="row g-6 align-items-center justify-content-between">
      <div class="col-lg-6">
        <div class="pe-0 pe-lg-5">
          <h1 class="section-title h2">{{.title | markdownify}}</h1>
          {{ partial "button" .button }}
        </div>
      </div>
      <div class="col-lg-6">
        {{ partial "image" (dict "Src" .image "alt" .alt "Class" "w-100 rounded-1") }}
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.culture}}
<section id="culture" class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6"
        data-aos="fade-right"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
      <div class="col-lg-6"
        data-aos="fade-left"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="swiper single-slider">
          <div class="swiper-wrapper">
            {{range .image_item}}
            <div class="swiper-slide">
              {{ partial "image" (dict "Src" .image "Alt" .alt "Class" "rounded-2") }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-outer"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.benefits}}
<section class="section bg-light-blue">
  <div class="container">
    <div class="row justify-content-center pb-5"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-8 text-center">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
    </div>
    {{with .perks}}
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-10 text-center">
        <h2 class="section-title h4">{{.title | markdownify}}</h2>
      </div>
    </div>

    <div class="row justify-content-center gy-4"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-delay="300"
      data-aos-easing="ease-in-out-sine">
      {{range .perks_item}}
      <div class="col-lg-4 col-sm-6 d-lg-flex"
        data-aos="fade-up"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="card bg-white rounded-2 border-0">
          <div class="card-header text-center bg-white rounded-2 border-0 p-0 mt-5">
            {{ partial "image" (dict "Src" .image "alt" "" "Class" "rounded-2 benefit-icon") }}
          </div>
          <div class="card-body pb-5 pt-0">
            <h4 class="h6 content p-3 pb-0">{{ .name | markdownify }}</h4>
          </div>
        </div>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
</section>
{{end}}

{{ with .Params.process }}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row justify-content-center pb-5"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-8 text-center">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
    </div>
    <div class="row gy-4 process-text"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
    {{ range .process_item }}
      {{ partial "flat-card" . }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.onboarding }}
<section class="section">
  <div class="container"
    data-aos="fade-up"
    data-aos-offset="180"
    data-aos-duration="600"
    data-aos-easing="ease-in-out-sine">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.jobs }}
<section class="section bg-light-blue" id="jobs">
  <div class="container">
    <div class="row justify-content-center pb-0"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-8 text-center">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
    </div>
    <div class="row gy-4"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-delay="300"
      data-aos-easing="ease-in-out-sine">
      {{range where site.RegularPages "Section" .section}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Details"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.logo
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
  </div>
</section>
{{ end }}


{{ end }}