{{define "main"}}
<h1 class="d-none">Clients</h1>

{{with .Params}}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-4 align-items-center d-flex"
        data-aos="fade-right"
        data-aos-offset="0"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="h5 mb-0">{{.cta.content | markdownify}}</div>
      </div>
      <div class="col-8">
        {{ partial "video" .cta.anim }}
      </div>
    </div>
  </div>
</section>

{{with .relationships}}
<section class="section">
  <div class="container">
    {{ partial "content-block" .}}
  </div>
</section>
{{end}}

{{with .industries}}
<section id="industries" class="section bg-light-gray">
  <div class="container">
    {{ partial "content-block" .}}
    <div class="row justify-content-center pt-5">
      {{range .industries_item}}
      <div class="col-sm-6 col-md-4 col-lg-3 p-4 text-center"
        data-aos="fade-up"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        {{ partial "image" (dict "Src" .image "Alt" .alt "Class" "w-50") }}
        <p class="mt-2">{{.title}}</p>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .clients}}
<section class="section" id="list">
  <div class="container">
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-8 text-center">
        <h2 class="text-center h3">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      {{range .clients_item}}
      <div class="col-3 p-5"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        {{ partial "image" (dict "Src" .image "Alt" .alt) }}
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .testimonials}}
<section class="section bg-light-gray">
  <div class="container">
    {{ partial "content-block" .}}
    <div class="row pt-5">
      <div class="swiper testimonial-carousel">
        <div class="swiper-wrapper">
          {{range .testimonials_item}}
          <div class="swiper-slide text-center">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card bg-white rounded-2 border-0">
                  <div class="card-body p-4">
                    <p class="mb-3">{{.content | markdownify}}</p>
                    <h5 class="h6">{{.name | markdownify}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ with .casestudies }}
<section class="section" id="case-studies">
  <div class="container">
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-8 text-center">
        <h2 class="h3">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row gy-5 justify-content-center pb-5"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      {{range first 3 (where site.RegularPages "Section" .section)}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read case study"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "category" .Params.industry
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
    <div class="row"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-12 text-center">
        {{ partial "button" .button }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{end}}
{{end}}