{{define "main"}}

{{with .Params}}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <h3>{{.cta.content | markdownify}}</h3>
      </div>
      <div class="col-8">
        {{ partial "image" (dict "Src" .cta.image "Alt" .title "Class" "card-img-top rounded-2" "Size" "360x") }}
      </div>
    </div>
  </div>
</section>

{{with .relationships}}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="h2">{{.title | markdownify}}</h1>
        {{.content | markdownify}}
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .industries}}
<section id="industries" class="section bg-light-gray">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-10 text-center">
        <h2 class="h3">{{.title | markdownify}}</h2>
        {{.content | markdownify}}
      </div>
    </div>
    <div class="row justify-content-center">
      {{range .industries_item}}
      <div class="col-sm-6 col-md-4 col-lg-3 p-4 text-center">
        {{ partial "image" (dict "Src" .image "Alt" .title "Class" "w-50") }}
        <p class="mt-2">{{.title}}</p>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .clients}}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-center h3">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range .clients_item}}
      <div class="col-3 p-5">
        {{ partial "image" (dict "Src" .image "Alt" .title) }}
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .testimonials}}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row">
      <h3 class="text-center">{{.title | markdownify}}</h3>
      <p>{{.content | markdownify}}</p>
    </div>
    <div class="row">
      <div class="swiper testimonial-carousel">
        <div class="swiper-wrapper mb-3">
          {{range .testimonials_item}}
          <div class="swiper-slide text-center">
            <p class="lead mb-5">{{.content}}</p>
            <h5 class="mb-1">{{.name | markdownify}}</h5>
          </div>
          {{end}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ with .casestudies }}
<section class="section" id="case-studies">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row gy-5 justify-content-center pb-5">
      {{range first 3 (where site.RegularPages "Section" .section)}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read more"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
    <div class="row">
      <div class="col-12 text-center mb-5">
        {{ partial "button" .button }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{end}}
{{end}}