{{define "main"}}

{{with .Params}}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <h3>{{.cta.content | markdownify}}</h3>
      </div>
      <div class="col-8">
        {{ $video := resources.Get .cta.image }}
        <video autoplay muted playsinline>
          <source src="{{$video.RelPermalink}}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

{{with .relationships}}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="h2">{{.title | markdownify}}</h1>
        {{.content | markdownify}}
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .industries}}
<section id="industries" class="section bg-light-gray">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-10 text-center">
        <h2 class="h3">{{.title | markdownify}}</h2>
      </div>
      <div class="col-lg-8 text-center">
        {{.content | markdownify}}
      </div>
    </div>
    <div class="row justify-content-center">
      {{range .industries_item}}
      <div class="col-sm-6 col-md-4 col-lg-3 p-4 text-center">
        {{ partial "image" (dict "Src" .image "Alt" .title "Class" "w-50") }}
        <p class="mt-2">{{.title}}</p>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .clients}}
<section class="section" id="list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-center h3">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      {{range .clients_item}}
      <div class="col-3 p-5">
        {{ partial "image" (dict "Src" .image "Alt" .title) }}
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{with .testimonials}}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-lg-8 text-center">
        <h3>{{.title | markdownify}}</h3>
        <p>{{.content | markdownify}}</p>
      </div>
    </div>
    <div class="row">
      <div class="swiper testimonial-carousel">
        <div class="swiper-wrapper">
          {{range .testimonials_item}}
          <div class="swiper-slide text-center">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card bg-white rounded-2 border-0">
                  <div class="card-body p-4">
                    <p class="mb-3">{{.content}}</p>
                    <h5 class="h6">{{.name | markdownify}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ with .casestudies }}
<section class="section" id="case-studies">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row gy-5 justify-content-center pb-5">
      {{range first 3 (where site.RegularPages "Section" .section)}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read more"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "category" .Params.industry
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "button" .button }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{end}}
{{end}}