{{ define "main" }}

{{ partial "page-header.html" .}}

<section class="section contact pt-2" id="contact">
  <div class="container"
  data-aos="fade-up"
  data-aos-offset="180"
  data-aos-duration="600"
  data-aos-delay="400"
  data-aos-easing="ease-in-out-sine">
    <div class="row">
    {{ with .Params.contacts }}
      <ul class="nav nav-tabs d-flex pb-5" id="contact-tabs" role="tablist">
        {{range $i, $e := .contact_item}}
        <li class="nav-item flex-fill {{.id}}" role="presentation">
          <button class="nav-link {{if eq $i 0 }}active{{end}} w-100" id="{{.id}}" data-bs-toggle="tab" data-bs-target="#{{.id}}-tab-pane" type="button" role="tab" aria-controls="{{.id}}-tab-pane" aria-selected="true">{{.title}}</button>
        </li>
        {{end}}
      </ul>
      <div class="tab-content p-0" id="myTabContent">
        {{range $i, $e := .contact_item}}
        <div class="tab-pane fade {{if eq $i 0 }}show active{{end}}" id="{{.id}}-tab-pane" role="tabpanel" aria-labelledby="{{.id}}-tab" tabindex="0">
          <div class="container">
          <div class="row">
            <div class="col-lg-5 contact-person">
              <div class="mb-4 contact-img text-center">
                {{ partial "image" (dict "Src" .image "Alt" .name "Class" "") }}
              </div>
              <h2 class="text-center">{{.name}}</h2>
              <p>{{.content | markdownify}}</p>
            </div>
            <div class="col-lg-7">
              <div class="card shadow bg-white rounded-2 border-0">
                <div class="card-body p-4">
                  <h2 class="">{{.form_title | markdownify}}</h2>
                  <p>{{.form_content | markdownify}}</p>

                  <form method="POST" class="contact-form" novalidate
                  action="{{site.Params.contact_form_action | safeURL}}"
                      data-netlify="true"
                      name="{{.id}}">
                   <fieldset class="row g-4 ">
                      <legend class="form-legend mt-5 mb-0">{{ i18n "form_legend" }}</legend>
                      <div class="col-lg-12">
                        <label class="mb-1" for="first-name">{{ i18n "fname"}}</label>
                        <input class="form-control shadow-none" type="text" name="first_name" id="first-name" required
                          autocomplete="given-name" placeholder={{ i18n "fname" }}
                          aria-errormessage="invalid-feedback-first-name">
                        <div class="invalid-feedback" id="invalid-feedback-first-name"> {{ i18n "fname"}} {{ i18n "invalid_required"}} </div>
                      </div>
                      <div class="col-lg-12">
                        <label class="mb-1" for="last-name">{{ i18n "lname"}}</label>
                        <input class="form-control shadow-none" type="text" name="last_name" id="last-name" required autocomplete="family-name" placeholder={{ i18n "lname" }}
                        aria-errormessage="invalid-feedback-last-name">
                        <div class="invalid-feedback" id="invalid-feedback-last-name"> {{ i18n "lname"}} {{ i18n "invalid_required"}} </div>
                      </div>

                      <div class="col-lg-12">
                        <label class="mb-1" for="email">{{i18n "email"}}</label>
                        <input class="form-control shadow-none" type="email" name="email_address" id="email"
                          pattern="[a-z0-9.]+@[a-z]+\.[a-z]{2,3}" required autocomplete="email" placeholder={{ i18n "email" }}
                          aria-errormessage="invalid-feedback-email">
                        <div class="invalid-feedback" id="invalid-feedback-email"> {{ i18n "email"}} {{ i18n "invalid_required"}} </div>
                      </div>

                      <div class="col-lg-12">
                        <label class="mb-1" for="message">{{i18n "message"}}</label>
                        <textarea class="form-control shadow-none" name="message" id="message" rows="4" required placeholder={{ i18n "message" }}
                        aria-errormessage="invalid-feedback-message"></textarea>
                        <div class="invalid-feedback" aria-errormessage="invalid-feedback-message"> {{ i18n "message"}} {{ i18n "invalid_required"}} </div>
                      </div>

                      <p> {{ i18n "privacy_disclosure" | markdownify }} </p>

                      <div class="col-lg-12">
                        <button class="btn btn-primary mt-2" type="submit">{{ i18n "send"}}</button>
                      </div>
                   </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        {{end}}
      </div>
    {{ end }}
    </div>
  </div>
</section>

{{ end }}