{{ define "main" }}

{{with .Params.hero}}
<section class="section">
  <div class="container">
    <div class="row g-6 align-items-center justify-content-between">
      <div class="col-lg-6">
        <div class="pe-0 pe-lg-5">
          <h1 class="section-title h2">{{.title | markdownify}}</h1>
        </div>
      </div>
      <div class="col-lg-6">
        {{ partial "image" (dict "Src" .image "alt" "hero image" "Class" "w-100 rounded-1") }}
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- history -->
{{ with .Params.history }}
{{ if .enable }}
{{ $list := .blocks }}
{{ $len := (len $list) }}
{{ range $i, $p := $list }}
<section class="section history how-it-works {{if eq $i 0}} first-element {{end}} {{if eq (add $i 1) $len}} last-element {{if modBool $i 2}} has-bg-light {{end}} {{end}} overflow-hidden {{if modBool $i 2}}bg-light {{end}}">
  <div class="container">
    <div class="block {{if modBool $i 2}}block-right-image{{end}} row align-items-center g-5">
      <div class="col-lg-6 {{if modBool $i 2}}order-lg-0 text-lg-end{{end}} order-1">
        <div class="px-0 px-lg-4">
          <h2 class="section-title h3">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn-link">{{ .label }} <i class="fas fa-arrow-right"></i></a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 {{if modBool $i 2}}order-lg-1{{end}} order-0">
        <div class="px-0 px-lg-4">
          <div class="swiper-slide">
            {{ partial "image" (dict "Src" .image "Alt" "image" "Class" "w-100 rounded-2") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /history -->

<!-- mission -->
{{ if .Params.mission.enable }}
{{ with .Params.mission }}
<section class="section" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
      <div class="col-12 text-center">
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-outline-primary m-2">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- mission -->

<!-- values -->
{{ if .Params.values.enable }}
{{ with .Params.values }}
<section class="section" id="values">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
      <div class="col-12 text-center">
        <p class="mb-4">{{ .content | markdownify }}</p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="accordion" id="values-list">
          {{ range $i, $e := .values_list }}
          <div class="accordion-item bg-light border-0 mb-3 rounded-1">
            <h4 class="accordion-header mb-0" id="heading-{{ sha1 .title | urlize }}_">
              <button class="accordion-button border rounded-1 shadow-none h6 mb-0 p-4 {{if ne $i 0 }}collapsed{{end}}" type="button" data-bs-toggle="collapse" data-bs-target="#id-{{ sha1 .title | urlize }}_" aria-expanded="{{if eq $i 0 }}true{{else}}false{{end}}" aria-controls="id-{{ sha1 .title | urlize }}_">
                {{.title | markdownify}}
              </button>
            </h4>
            <div id="id-{{ sha1 .title | urlize }}_" class="accordion-collapse collapse {{if eq $i 0 }}show{{end}}" aria-labelledby="heading-{{ sha1 .title | urlize }}_" data-bs-parent="#faq">
              <div class="accordion-body p-4 content">
                {{.content | markdownify}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- values -->

<!-- specialites -->
{{ if .Params.specialites.enable }}
{{ with .Params.specialites }}
<section class="section" id="specialites">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
      <div class="col-12 text-center">
        <p class="mb-4">{{ .content | markdownify }}</p>
      </div>
      <div class="row gy-5 justify-content-center">
        {{range .specialites_list}}
        <div class="col-4">
          <div class="card speciality-card is-hoverable bg-white rounded-1 d-block p-4">
            <div class="block">
              {{ partial "image" (dict "Src" .image "alt" "speciality image" "Class" "w-100 rounded-1") }}
            </div>
            <div class="block">
              <h4 class="mb-3 h5">{{ .title | markdownify }}</h4>
              <p class="mb-4">{{ .content | markdownify }}</p>
              {{ if .button.enable }}
              {{ with .button }}
              <a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-outline-primary m-2">{{ .label }}</a>
              {{ end }}
              {{ end }}
            </div>

          </div>
        </div>
        {{end}}
        </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- specialites -->

{{ end }}