{{ define "main" }}

<!-- history -->
{{ with .Params.history }}
{{ if .enable }}
<section class="section text-center pt-5 pb-4">
  <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
</section>
{{ $list := .blocks }}
{{ $len := (len $list) }}
{{ range $i, $p := $list }}
<section class="section history {{if eq $i 0}} first-element {{end}} {{if eq (add $i 1) $len}} last-element {{if modBool $i 2}} has-bg-light {{end}} {{end}} overflow-hidden pt-0">
  <div class="container">
    <div class="block {{if modBool $i 2}}block-right-image{{end}} row align-items-center g-5">
      <div class="col-lg-6 {{if modBool $i 2}}order-lg-0 text-lg-end{{end}} order-1">
        <div class="px-0 px-lg-4">
          <h2 class="section-title h4">{{ .title | markdownify }}</h2>
          {{ .content | markdownify }}
        </div>
      </div>
      <div class="col-lg-6 {{if modBool $i 2}}order-lg-1{{end}} order-0">
        <div class="px-0 px-lg-4">
          <div class="swiper-slide">
            {{ partial "image" (dict "Src" .image "Alt" "image" "Class" "w-100 rounded-2") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /history -->

<!-- mission -->
{{ if .Params.mission.enable }}
{{ with .Params.mission }}
<section class="section bg-light-blue" id="mission">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="subtitle">{{.subtitle | markdownify}}</h2>
        <h3 class="h2">{{.title | markdownify}}</h3>
        {{ .content | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- mission -->

<!-- values -->
{{ if .Params.values.enable }}
{{ with .Params.values }}
<section class="section bg-light-gray" id="values">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center pb-5">
        <h2 class="h2">{{.title | markdownify}}</h2>
        {{ .content | markdownify }}
      </div>
      <div class="col-12 mx-auto">
        <div class="accordion" id="values-list">
          {{ range $i, $e := .values_list }}
          <div class="accordion-item border-0 mb-3 rounded-1">
            <h4 class="accordion-header mb-0" id="heading-{{ sha1 .title | urlize }}_">
              <button class="accordion-button border rounded-1 shadow-none h6 mb-0 p-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-{{ sha1 .title | urlize }}_" aria-expanded="{{if eq $i 0 }}true{{else}}false{{end}}" aria-controls="id-{{ sha1 .title | urlize }}_">
                {{.title | markdownify}}
              </button>
            </h4>
            <div id="id-{{ sha1 .title | urlize }}_" class="accordion-collapse collapse" aria-labelledby="heading-{{ sha1 .title | urlize }}_" data-bs-parent="#faq">
              <div class="accordion-body p-4 content">
                <div class="row">
                  <div class="col-6 d-flex align-items-center fs-5 p-4">
                    {{.content | markdownify}}
                  </div>
                  <div class="col-6 text-center">
                    {{ partial "image" (dict "Src" .image "Alt" "image" "Class" "w-75 rounded-2") }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- values -->

<!-- specialites -->
{{ if .Params.specialites.enable }}
{{ with .Params.specialites }}
<section class="section bg-light-blue" id="specialites">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-8 text-center">
        <h2 class="h2">{{.title | markdownify}}</h2>
        {{ .content | markdownify }}
      </div>
    </div>
    <div class="row gy-4">
      {{range .specialites_list}}
        {{ partial "card" . }}
      {{end}}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- specialites -->

{{ end }}