{{ define "main" }}
{{with .Params.banner}}
<section class="section pt-5 pb-5" id="what-we-do-hero">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-10 mb-5 mb-lg-0">
        <div class="pe-0 pe-lg-5 text-center text-lg-start">
          <h1 class="section-title"
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-easing="ease-in-out-sine">
            {{ .title | markdownify }}
          </h1>
          <div class="mb-4"
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-delay="200"
            data-aos-easing="ease-in-out-sine">
            {{ .content | markdownify }}
          </div>
          <div data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="600"
            data-aos-delay="400"
            data-aos-easing="ease-in-out-sine">
            {{ partial "button" .button }}
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center overflow-hidden">
        <div
          data-aos="fade-left"
          data-aos-offset="0"
          data-aos-duration="600"
          data-aos-delay="400"
          data-aos-easing="ease-in-sine">
          {{ partial "image" (dict "Src" .image "Alt" .alt "Size" "550x") }}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- what-we-do -->
{{ with .Params.what_we_do }}
{{ if .enable }}
{{ $list := .blocks }}
{{ $len := (len $list) }}
{{ range $i, $p := $list }}
<section id="{{.id}}" class="section what-we-do overflow-hidden">
  <div class="container">
    <div class="block {{if not (modBool $i 2)}}block-right-image{{end}} row align-items-center g-5">
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-0{{end}} order-1 pe-lg-0"
        data-aos="{{if not (modBool $i 2)}}fade-right{{else}}fade-left{{end}}"
        data-aos-offset="150"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ partial "button" .button }}
      </div>
      <div class="col-lg-6 gx-5 {{if not (modBool $i 2)}}order-lg-1{{end}} order-0 pe-lg-0"
        data-aos="fade"
        data-aos-offset="150"
        data-aos-duration="300"
        data-aos-easing="ease-in-out-sine">
        <div class="what-we-do-img">
          {{ partial "video" .anim }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /what-we-do -->

<!-- technologies -->
{{ with .Params.technologies }}
{{ if .enable }}
<section class="section bg-light-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 text-center mx-auto"
        data-aos="fade-up"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12 text-center pb-4"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <p>{{.content | markdownify}}</p>
      </div>
    </div>
    <div class="row"
      data-aos="fade-up"
      data-aos-offset="150"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-12 text-center">
        {{ range .technology_list }}
        <div class="p-4 d-inline-block">
          <div class="technology-logo">{{ partial "image" (dict "Src" .image "Alt" .alt) }}</div>
          <div class="technology-name">{{ .title }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /technologies -->

<!-- approach -->
{{ with .Params.approach }}
{{ if .enable }}
<section class="section bg-light-gray" id="approach">
  <div class="container">
    {{ partial "content-block" .}}

    <div class="row gy-4 pb-5 pt-5">
      {{ range .workflow_item }}
      <div class="col-xl-4 col-lg-6 d-lg-flex"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="card shadow bg-white rounded-2 border-0">
          <div class="card-body p-4 d-flex">
            <div class="hero-text">
              <h3 class="">{{ .title | markdownify }}</h3>
              <p class="p mb-0">{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="80"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="ccol-xl-8 col-lg-8 text-start">
        {{.content_bottom | markdownify}}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /approach -->

<!-- cta -->
{{ with .Params.cta }}
{{ if .enable }}
<section class="section bg-light-blue">
  {{ partial "cta" . }}
</section>
{{ end }}
{{ end }}
<!-- /cta -->



{{ end }}