{{define "main"}}

{{with .Params}}
<section class="section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <div>
          <div class="h5">{{.hero | markdownify}}</div>
          <!-- <div class="pt-4">
            {{ partial "button" .button }}
          </div> -->
        </div>
      </div>
      <div class="col-6">
        {{ partial "image" (dict "Src" .hero_image "Alt" .alt "Class" "rounded-2") }}
      </div>
    </div>
  </div>
  <!-- <div class="banner" {{ partial "bg-image" (dict "Src" .hero_image "Position" "top center" "Webp" false) | safeHTMLAttr }}></div> -->
</section>

<section class="section bg-light-gray">
  <div class="container"
    data-aos="fade-up"
    data-aos-offset="180"
    data-aos-duration="600"
    data-aos-easing="ease-in-out-sine">
    <div class="row text-center justify-content-center">
      <div class="col-lg-10">
        <h1 class="subtitle">{{.intro.title | markdownify}}</h1>
        <h2 class="h2">{{.intro.quality.title | markdownify}}</h2>
        {{ .intro.quality.content | markdownify }}
      </div>
    </div>
    <div class="row text-center text-lg-start">
      <div class="col-lg-6 pb-4 pb-lg-0">
        {{ .intro.quality.content1 | markdownify }}
      </div>
      <div class="col-lg-6">
        {{ .intro.quality.content2 | markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 pb-4 order-lg-1 overflow-hidden text-center text-lg-start"
        data-aos="fade-left"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <h2 class="h2">{{.intro.streangths.title | markdownify}}</h2>
        {{.intro.streangths.content | markdownify}}
      </div>
      <div class="col-lg-6 pb-4 order-lg-0 overflow-hidden"
        data-aos="fade-right"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        {{ partial "image" (dict "Src" .intro.streangths.image "Alt" .alt "Class" "rounded-2") }}
      </div>
    </div>
  </div>
</section>

<section class="section bg-light-blue">
  {{ partial "cta" .cta }}
</section>

<section class="section" id="team">
  <div class="container">
    <div class="row justify-content-center pb-5"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-lg-10 text-center">
        <h3 class="h3">{{ .team_members_title | markdownify }}</h3>
      </div>
    </div>
    <div class="row gy-5 team"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="600"
      data-aos-delay="400"
      data-aos-easing="ease-in-out-sine">
      {{range .team_members}}
      <div class="col-xl-3 col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="card bg-transparent border-0 text-center">
          {{ partial "image" (dict "Src" .image "Alt" .name "Class" "card-img-top rounded-2") }}
          <div class="card-body px-0">
            <h3 class="h6 mb-1">{{.name | markdownify }}</h3>
            <p class="designation mb-0">{{.designation | markdownify }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<section class="section bg-light-blue">
  <div class="container">
    <div class="row gx-5 text-center text-lg-start">
      <div class="col-xl-6 pb-5 pb-xl-0 overflow-hidden"
        data-aos="fade-right"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <h2 class="h3">{{.join.title | markdownify}}</h2>
        {{.join.content | markdownify}}
        <div class="row text-center">
          <div class="pt-4">
            {{ partial "button" .join.button }}
          </div>
        </div>
      </div>
      <div class="col-xl-6 overflow-hidden"
        data-aos="fade-left"
        data-aos-offset="180"
        data-aos-duration="600"
        data-aos-easing="ease-in-out-sine">
        <div class="swiper single-slider">
          <div class="swiper-wrapper">
            {{range .join.image_item}}
            <div class="swiper-slide">
              {{ partial "image" (dict "Src" .image "Alt" .alt "Class" "rounded-2") }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-outer"></div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
