{{define "main"}}

{{with .Params}}
<section class="section">
  <div class="container">
    <div class="row text-center">
      <h2 class="h3">{{.hero}}</h2>
    </div>
  </div>
  <div class="banner" {{ partial "bg-image" (dict "Src" .hero_image "Position" "top center" "Webp" false) | safeHTMLAttr }}></div>
</section>

<section class="section bg-light-gray">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-xl-6">
        <h2 class="subtitle">{{.intro.title | markdownify}}</h2>
        <h3 class="h2">{{.intro.quality.title | markdownify}}</h3>
        {{.intro.quality.content | markdownify}}
      </div>
      <div class="col-xl-6">
        {{ partial "image" (dict "Src" .intro.quality.image "Alt" "Team photo" "Class" "rounded-2") }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-xl-6 pb-4 order-lg-1">
        <h3 class="h2">{{.intro.streangths.title | markdownify}}</h3>
        {{.intro.streangths.content | markdownify}}
      </div>
      <div class="col-xl-6 pb-4 order-lg-0">
        {{ partial "image" (dict "Src" .intro.streangths.image "Alt" "Team photo" "Class" "rounded-2") }}
      </div>
    </div>
  </div>
</section>

<section class="section bg-light-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h3 class="h4">{{.cta.title | markdownify}}</h3>
        <p>{{.cta.content}}</p>
        {{ partial "button" .cta.button }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-10 text-center">
        <h2 class="h4">{{.team_members_title}}</h2>
      </div>
    </div>
    <div class="row gy-5 team">
      {{range .team_members}}
      <div class="col-xl-3 col-lg-4">
        <div class="card bg-transparent border-0 text-center">
          {{ partial "image" (dict "Src" .image "Alt" .name "Class" "card-img-top rounded-2") }}
          <div class="card-body px-0">
            <h3 class="h6 mb-1">{{.name | markdownify }}</h3>
            <p class="designation mb-0">{{.designation | markdownify }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<section class="section bg-light-blue">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-xl-6 pb-4">
        <h2 class="h3">{{.join.title | markdownify}}</h2>
        {{.join.content | markdownify}}
        <div class="row text-center">
          <div class="pt-4">
            {{ partial "button" .join.button }}
          </div>
        </div>
      </div>
      <div class="col-xl-6 pb-4">
        <div class="swiper single-slider">
          <div class="swiper-wrapper">
            {{range .join.image_item}}
            <div class="swiper-slide">
              {{ partial "image" (dict "Src" .image "Alt" "Team photo" "Class" "rounded-2") }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-outer"></div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}