{{ define "main" }}

{{with .Params.banner}}
<section class="section bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-10 mb-5 mb-lg-0">
        <div class="pe-0 pe-lg-5 text-center text-lg-start">
          <h1 class="section-title h2">{{ .title | markdownify }}</h1>
          <p class="mb-5">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 text-center">
        {{partial "image" (dict "Src" .image "Alt" "banner image" "Size" "550x")}}
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- what-we-do -->
{{ with .Params.what_we_do }}
{{ if .enable }}
{{ $list := .blocks }}
{{ $len := (len $list) }}
{{ range $i, $p := $list }}
<section id="{{.id}}" class="section what-we-do {{if eq $i 0}} first-element {{end}} {{if eq (add $i 1) $len}} last-element {{end}} overflow-hidden">
  <div class="container">
    <div class="block {{if not (modBool $i 2)}}block-right-image{{end}} row align-items-center g-5">
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-0 text-lg-end{{end}} order-1">
        <div class="px-0 px-lg-4">
          <h2 class="section-title h3">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn-link">{{ .label }} <i class="fas fa-arrow-right"></i></a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-1{{end}} order-0">
        <div class="px-0 px-lg-4">
          <div class="swiper-slide text-center what-we-do-img">
            {{ partial "image" (dict "Src" .image "Alt" "image") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /what-we-do -->

<!-- technologies -->
{{ with .Params.technologies }}
{{ if .enable }}
<section class="section pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12 text-center">
        {{ range .technology_list }}
        <div class="is-hoverable p-4 shadow rounded-2 d-inline-block m-3" style="background-color: #fff;">
          {{ partial "image" (dict "Src" .image "Alt" "Technology" "Size" "x45" "Class" "w-100 rounded-2") }}
        </div>
        {{ end }}
      </div>
      <div class="col-12 text-center">
        <p>{{.content | markdownify}}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /technologies -->

<!-- approach -->
{{ with .Params.approach }}
{{ if .enable }}
<section class="section pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12 text-center">
        <p>{{.content | markdownify}}</p>
      </div>
    </div>
    <div class="row">
      {{ range .workflow_item }}
      <h3 class="section-title h4">{{ .title | markdownify }}</h3>
      <p>{{.content | markdownify}}</p>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /approach -->

<!-- cta -->
{{ with .Params.cta }}
{{ if .enable }}
<section class="section pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12 text-center">
        <p>{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-outline-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->



{{ end }}