{{ define "main" }}

{{with .Params.banner}}
<section class="section bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-10 mb-5 mb-lg-0">
        <div class="pe-0 pe-lg-5 text-center text-lg-start">
          <h1 class="section-title h2">{{ .title | markdownify }}</h1>
          <p class="mb-5">{{ .content | markdownify }}</p>
          {{ partial "button" .button }}
        </div>
      </div>
      <div class="col-lg-6 text-center">
        {{partial "image" (dict "Src" .image "Alt" "banner image" "Size" "550x")}}
      </div>
    </div>
  </div>
</section>
{{end}}

<!-- what-we-do -->
{{ with .Params.what_we_do }}
{{ if .enable }}
{{ $list := .blocks }}
{{ $len := (len $list) }}
{{ range $i, $p := $list }}
<section id="{{.id}}" class="section what-we-do overflow-hidden">
  <div class="container">
    <div class="block {{if not (modBool $i 2)}}block-right-image{{end}} row align-items-center g-5">
      <div class="col-lg-6 {{if not (modBool $i 2)}}order-lg-0{{end}} order-1 pe-lg-0">
        <h2 class="section-title h4">{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ partial "button" .button }}
      </div>
      <div class="col-lg-6 gx-5 {{if not (modBool $i 2)}}order-lg-1{{end}} order-0 pe-lg-0">
        <div class="what-we-do-img">
          {{ partial "image" (dict "Src" .image "Alt" "image") }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /what-we-do -->

<!-- technologies -->
{{ with .Params.technologies }}
{{ if .enable }}
<section class="section bg-light-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 text-center mx-auto">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12 text-center pb-4">
        <p>{{.content | markdownify}}</p>
      </div>
      <div class="col-12 text-center">
        {{ range .technology_list }}
        <div class="p-4 d-inline-block">
          <div class="technology-logo">{{ partial "image" (dict "Src" .image "Alt" .title) }}</div>
          <div class="technology-name">{{ .title }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /technologies -->

<!-- approach -->
{{ with .Params.approach }}
{{ if .enable }}
<section class="section bg-light-gray">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-xl-10 text-center">
        <h2 class="section-title h3">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-lg-8 text-center">
        {{.content | markdownify}}
      </div>
    </div>
    <div class="row gy-4 pb-5">
      {{ range .workflow_item }}
      <div class="col-lg-4 col-sm-6 d-lg-flex">
        <div class="card bg-white rounded-2 border-0">
          <div class="card-body pb-5 pt-3">
            <h4 class="h6">{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-2 gy-5 approach-text">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        <p>{{.content | markdownify}}</p>
      </div> -->
      {{ end }}
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        {{.content_bottom | markdownify}}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /approach -->

<!-- cta -->
{{ with .Params.cta }}
{{ if .enable }}
<section class="section bg-light-yellow">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h3 class="section-title h4">{{ .title | markdownify }}</h3>
      </div>
      <div class="col-8 text-center">
        <p>{{.content | markdownify}}</p>
        {{ partial "button" .button }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->



{{ end }}