<div class="col-lg-4 col-sm-12 d-lg-flex">
  <div class="card {{.type}}-card is-hoverable shadow bg-white rounded-2 border-0">
    {{ if .image }}
    <div class="card-header {{.type}}-image text-center bg-white rounded-2 border-0 p-0">
      {{ partial "image" (dict "Src" .image "alt" "" "Class" "rounded-2") }}
    </div>
    {{ end }}
    <div class="card-body p-4 {{ if not .content }}pb-0{{end}}">
      <h4 class="h6">{{ .name | markdownify }}</h4>
      {{ if .content }}
      <p>{{ .content | markdownify }}</p>
      {{ end }}
    </div>
    <div class="card-footer bg-white rounded-2 border-0 p-4 pt-0">
      {{ partial "button" .button }}
    </div>
  </div>
</div>