<dialog class="cookie-modal modal cookieconsent" tabindex="-1" role="dialog" aria-label="Cookie modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
         <div class="modal-body">
          {{ partial "image" (dict
            "Src" "images/cookies.svg"
            "Alt" "Cookie image"
            "Class" "modal-image"
            "Size" "125x135") }}
          
          <h2 class="h3 text-center" id="modal-header">
            {{ i18n `cookiebanner_heading` }}
          </h2>
          
          <p> {{ i18n `cookiebanner_description` | markdownify }} </p>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-dismiss="modal" data-consent="true">
              {{i18n `cookiebanner_accept`}}
            </button>
            <button class="btn btn-primary" data-bs-dismiss="modal" data-consent="false">
              {{i18n `cookiebanner_decline`}}
            </button>
          </div>
        </div>
     </div>
  </div>
</dialog>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const COOKIE_STORAGE_KEY = "cookie-consent";
    const googleAnalyticsId = "{{ .Site.GoogleAnalytics }}";

    const consentScripts = [];
    if (googleAnalyticsId) {
      consentScripts.push(
        {
          id: 'gtag-src',
          async: true,
          src: "https://www.googletagmanager.com/gtag/js?id=" + googleAnalyticsId,
        },
        {
          id: 'gtag-inline',
          async: false,
          inlineContent: "window.dataLayer = window.dataLayer || []; " +
            "function gtag(){dataLayer.push(arguments);}" +
            "gtag('js', new Date()); " +
            "gtag('config', '"+ googleAnalyticsId +"');" 
        })
      }

      const loadConsentScripts = (consentedScripts) => {
      consentedScripts.forEach((script) => {
        if (!document.querySelector('#' + script.id)) {
          const scriptEl = document.createElement('script');
          scriptEl.type = 'text/javascript';
          script.src ? scriptEl.src = script.src : null;
          script.inlineContent ? scriptEl.textContent = script.inlineContent : null;
          script.id ? scriptEl.id = script.id : null;
          
          document.body.appendChild(scriptEl);
        }
      });
    }

    const createCookie = (name, value, days) => {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + value + expires + "; path=/";
    }

    const getCookiePreference = (name) => {
      let cookieName = name + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(cookieName) == 0) {
          return c.substring(cookieName.length, c.length);
        }
      }
      return null;
    }

    const declineCookies = () => {
      createCookie(COOKIE_STORAGE_KEY, "decline", 30);
    }

    const acceptCookies = () => {
      createCookie(COOKIE_STORAGE_KEY, "accept", 30);
      loadConsentScripts(consentScripts);
    }

    const cookieModalEl = document.querySelector(".cookie-modal");
    const innerModal = cookieModalEl.querySelector('.modal-content');

    var cookieModalRef = new bootstrap.Modal(cookieModalEl);

    /* Show cookie consent modal */
    const showModalEl = () => {
      cookieModalRef.show();
    }

    /**
     *  Cookie banner Event handlers
    */
    cookieModalEl.addEventListener("click", (event) => {
      /* Accept cookies button clicked */
      if (event.target.closest('[data-consent="true"]')) {
        acceptCookies();
        markCookieRadio(true);
      }

      /* Declines cookies when user clicks on 
         Decline button, outside modal or "Cookie Page" link
       */
      if (event.target.closest('[data-consent="false"]') ||
        !innerModal.contains(event.target)
      ) {
        declineCookies();
        markCookieRadio(false);
      }
    });


    /**
     *  Cookie page radio buttons 
    */
    const acceptCookiesRadio = document.querySelector('#cookie-accept');
    const declineCookiesRadio = document.querySelector('#cookie-decline');
    const preference = getCookiePreference(COOKIE_STORAGE_KEY);

    acceptCookiesRadio?.addEventListener('click', (event) => {
      acceptCookies();
    });

    declineCookiesRadio?.addEventListener('click', (event) => {
      declineCookies();
    });

    const markCookieRadio = (accepted) => {
      if (acceptCookiesRadio && declineCookiesRadio) {
        acceptCookiesRadio.checked = !!accepted;
        declineCookiesRadio.checked = !accepted;
      }
    };


    /**
     * Shows Cookie Dialog if no user preferences 
     * Loads scripts if cookies accepted 
     * Marks radio button preferences 
    */
    if (!preference) {
      showModalEl();
      // Load consent scripts or mark radio buttons based on stored preference
    } else if (preference === 'accept') {
      loadConsentScripts(consentScripts);
      markCookieRadio(true);
    } else {
      markCookieRadio(false)
    }


  });
</script>