{{ define "main" }}
<!-- banner -->
{{ with .Params.banner }}
<section class="hero">
  <div class="hero-container sticky-top">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <!-- {{ partial "slide-text" .title }} -->
          <h1 class="hero-text"
            data-aos="fade-up"
            data-aos-offset="0"
            data-aos-duration="400"
            data-aos-delay="0"
            data-aos-easing="ease-in-out-sine">{{ .title }}</h1>
          <div class="pt-4"
            data-aos="fade-up"
            data-aos-offset="0"
            data-aos-duration="400"
            data-aos-delay="400"
            data-aos-easing="ease-in-out-sine">
            {{ partial "button" .button }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-aos="fade-in"
    data-aos-offset="0"
    data-aos-duration="400"
    data-aos-delay="800"
    data-aos-easing="ease-in-out-sine">
    <div id="hero-image" class="banner"
      {{ partial "bg-image" (dict "Src" .image "Position" "top center") | safeHTMLAttr }}>
    </div>
  </div>
  <script>
    (function () {
      // hero image fading on scroll
      window.addEventListener("scroll", function () {
        let header = document.getElementById("hero-image");
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        header.style.opacity = 1 - scrollTop / 500;
    });
    })();
  </script>
</section>
{{ end }}
<!-- /banner -->

<!-- about -->
{{ if .Params.about.enable }}
{{ with .Params.about }}
<section class="section" id="about">
  <div class="container">
    {{ partial "content-block" .}}
  </div>
</section>
{{ end }}
{{ end }}
<!-- about -->

<!-- services -->
{{ with .Params.services }}
{{ if .enable }}
<section class="section bg-light-gray">
  <div class="container">
    {{ partial "content-block" .}}
    <div
      class="row gy-3 mt-xl-3 services-cards justify-content-center"
      data-aos="fade-up"
      data-aos-offset="180"
      data-aos-duration="400"
      data-aos-easing="ease-in-out-sine">
      {{ range .services_item }}
        {{ partial "card" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /services -->

<!-- CTA - consulting -->
{{ if .Params.consulting.enable }}
{{ with .Params.consulting }}
<section class="section bg-light-blue" id="consulting">
  {{ partial "cta" . }}
</section>
{{ end }}
{{ end }}
<!-- consulting -->

<!-- clients -->
{{ if .Params.clients.enable }}
{{ with .Params.clients }}
<section class="section pb-5" id="clients">
  <div class="container">
    {{ partial "content-block" .}}
  </div>
</section>
{{ end }}
{{ end }}
<!-- clients -->

<!-- case_studies -->
{{ if .Params.case_studies.enable }}
{{ with .Params.case_studies }}
<section class="section pt-0" id="case-studies">
  <div class="container">
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-xl-8 text-center">
        <h3 class="h3">{{.title | markdownify}}</h3>
      </div>
    </div>
    <div class="row gy-lg-0 gy-4 justify-content-center"
      data-aos="fade-up"
      data-aos-offset="50"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine"
      data-aos-delay="400">
      {{range first 3 (where site.RegularPages "Section" .section)}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read case study"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "category" .Params.industry
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- case_studies -->

<!-- numbers -->
{{ with .Params.numbers }}
{{ if .enable }}
<section class="section p-5 bg-primary">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <div class="row justify-content-center">
          {{range .numbers_item}}
          <div class="col-lg-4 col-sm-6 p-2 pb-5 pb-lg-0">
            <div class="block">
              <span class="numbers-icon">
                {{ partial "image" (dict "Src" .icon "alt" "") }}
              </span>
              <p class="h3 text-white mt-2 mt-lg-4 mb-1"><span class="counter" data-counter-time="1500">{{.counter}}</span>{{.counter_suffix}}</p>
              <p class="text-white mb-0">{{.content | markdownify}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /numbers -->

<!-- jobs -->
{{ if .Params.jobs.enable }}
{{ with .Params.jobs }}
<section class="section bg-light-gray" id="jobs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 pb-4 text-center text-xl-start"
        data-aos="fade-right"
        data-aos-offset="180"
        data-aos-duration="600">
        <h2 class="h2">{{.title | markdownify}}</h2>
        {{ .content | markdownify }}
        <div class="row text-center">
          <div class="pt-4">
            {{ partial "button" .button }}
          </div>
        </div>
      </div>
      <div class="col-xl-6 pb-4 overflow-hidden">
        <div class="swiper single-slider"
          data-aos="fade-left"
          data-aos-offset="180"
          data-aos-duration="600">
          <div class="swiper-wrapper">
            {{range .image_item}}
            <div class="swiper-slide">
              {{ partial "image" (dict "Src" .image "Alt" .alt "Class" "rounded-2") }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-outer"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- jobs -->

<!-- articles -->
{{ if .Params.articles.enable }}
{{ with .Params.articles }}
<section class="section" id="articles">
  <div class="container">
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine">
      <div class="col-xl-10 text-center">
        <h2 class="h2">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row gy-lg-0 gy-4 pb-5 justify-content-center"
      data-aos="fade-up"
      data-aos-offset="50"
      data-aos-duration="600"
      data-aos-easing="ease-in-out-sine"
      data-aos-delay="400">
      {{range first 3 (where site.RegularPages "Section" .section)}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
    <div class="row justify-content-center"
      data-aos="fade-up"
      data-aos-offset="50"
      data-aos-duration="400"
      data-aos-easing="ease-in-out-sine">
      <div class="col-xl-8 text-center">
        {{ partial "button" .button }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- articles -->

{{ end }}