{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section pt-5"
  data-aos="fade-up"
  data-aos-offset="180"
  data-aos-duration="600"
  data-aos-delay="400"
  data-aos-easing="ease-in-out-sine">
  <div class="container">
    <div class="row gy-4">
      {{range where site.RegularPages "Section" .Params.section}}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{end}}
    </div>
  </div>
</section>

{{end}}