{{define "main"}}

<section class="section pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="article col-lg-8 col-md-10">
        {{ partial "image" (dict "Src" .Params.image "Alt" "" "Class" "rounded-2 mb-4") }}

        <small class="opacity-50">{{i18n `article`}}<span class="mx-1 text-dark-50 fw-500">|</span> <i class="far fa-clock text-dark me-1"></i> {{.ReadingTime}} {{i18n `min_read`}}</span></small>
        <h1 class="h1 mb-0 mt-2 text-primary">{{.Title | markdownify}}</h1>
        <div class="content pt-3">
          {{.Content}}
        </div>

        {{ with site.GetPage (string .Params.Author | urlize | lower) }}
        {{if .Title}}
        <div class="d-block d-sm-flex border-0 shadow p-4 rounded-2 mt-5">
          <div class="mb-3" style="min-width: 180px">
            {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-circle" "Command" "Fill" "Size" "150x150") }}
          </div>
          <div>
            <small class="opacity-75">THE AUTHOR</small>
            <h2 class="h5 title mb-1">{{ .Title }}</h2>
            <div class="content small">{{ .Content | markdownify}}</div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<section class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 text-center">
        <h2 class="h3">Related articles</h2>
      </div>
    </div>
    <div class="row">
      {{ range . }}
        {{ $button := dict
          "enable" true
          "type" "link-stretched"
          "label" "Read article"
          "link" .RelPermalink
        }}
        {{ $card := dict
          "image" .Params.image
          "name" .Title
          "button" $button
        }}
        {{ partial "card" $card }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{end}}